<section class="feature-work-main">
	<div class="feature-work-main__container">
		<h2 class="feature-work-main__title">
		</h2>
		<ul class="feature-work-main__list main-feature-work-menu">
			<li class="main-feature-work-menu__item main-feature-work-card">
				<a href="">
					<div class="main-feature-work-card__image">
					<img
							src="../img/logo-feature-work.jpg"
							alt=""
					>
				</div>
				<div class="main-feature-work-card__content main-feature-work-content-card">
					<h3 class="main-feature-work-content-card__title">
						Designing Dashboards
					</h3>
					<div class="main-feature-work-content-card__subtitle main-feature-work-card-subtitle">
						<p class="main-feature-work-card-subtitle__time">2020</p>
						<p class="main-feature-work-card-subtitle__category">Dashboard</p>
					</div>
					<p class="main-feature-work-content-card__description">
Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
					</p>
				</div>
				</a>
			</li>
				<li class="main-feature-work-menu__item main-feature-work-card">
				<a href="/single-work.html">
					<div class="main-feature-work-card__image">
					<img
							src="../img/logo-feature-work.jpg"
							alt=""
					>
				</div>
				<div class="main-feature-work-card__content main-feature-work-content-card">
					<h3 class="main-feature-work-content-card__title">
						Designing Dashboards
					</h3>
					<div class="main-feature-work-content-card__subtitle main-feature-work-card-subtitle">
						<p class="main-feature-work-card-subtitle__time">2020</p>
						<p class="main-feature-work-card-subtitle__category">Dashboard</p>
					</div>
					<p class="main-feature-work-content-card__description">
Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
					</p>
				</div>
				</a>
			</li>
				<li class="main-feature-work-menu__item main-feature-work-card">
				<a href="/single-work.html">
					<div class="main-feature-work-card__image">
					<img
							src="../img/logo-feature-work.jpg"
							alt=""
					>
				</div>
				<div class="main-feature-work-card__content main-feature-work-content-card">
					<h3 class="main-feature-work-content-card__title">
						Designing Dashboards
					</h3>
					<div class="main-feature-work-content-card__subtitle main-feature-work-card-subtitle">
						<p class="main-feature-work-card-subtitle__time">2020</p>
						<p class="main-feature-work-card-subtitle__category">Dashboard</p>
					</div>
					<p class="main-feature-work-content-card__description">
Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
					</p>
				</div>
				</a>
			</li>
		</ul>
	</div>
</section>