<section class="feature-work-main">
	<div class="feature-work-main__container">
		<h2 class="feature-work-main__title">
		</h2>
		<ul class="feature-work-main__list main-feature-work-menu">
			<li class="main-feature-work-menu__item main-feature-work-card">
				<div class="main-feature-work-card__image">
					<img
							src=""
							alt=""
					>
				</div>
				<div class="main-feature-work-card__content main-feature-work-content-card">
					<h3 class="main-feature-work-content-card__title">
					</h3>
					<div class="main-feature-work-content-card__subtitle">
						<p></p>
						<p></p>
					</div>
					<p class="main-feature-work-content-card__description"></p>
				</div>
			</li>
		</ul>
	</div>
</section>