<footer class="footer">
	<ul class="footer__social-list footer-social-list">
		<li class="footer-social-list__item">
			<a target="_blank" href="https://facebook.com" class="_icon-fb"></a>
		</li>
		<li class="footer-social-list__item">
			<a target="_blank" href="https://instagram.com" class="_icon-insta"></a>
		</li>
		<li class="footer-social-list__item">
			<a target="_blank" href="https://x.com" class="_icon-twitter"></a>
		</li>
		<li class="footer-social-list__item">
			<a target="_blank" href="https://linkedin.com" class="_icon-linkedin"></a>
		</li>
	</ul>
	<p class="footer__copyright">Copyright &copy;2020 All rights reserved </p>
</footer>