<section class="recent-posts-main">
	<div class="recent-posts-main__container">
		<div class="recent-posts-main__row">
			<h2 class="">Recent posts</h2>
			<a href="">View All</a>
		</div>
		<ul class="recent-posts-main__list main-posts-list">
			<li class="main-posts-list__item main-post-card">
				<h3 class="main-post-card__title">Making a design system from scratch</h3>
				<div class="main-post-card__subtitle">
					<span>12 Feb 2020</span>
					<span>|</span>
					<span>Design,Patern</span>
				</div>
				<p class="main-post-card__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
			</li>
			<li class="main-posts-list__item main-post-card">
				<h3 class="main-post-card__title">Making a design system from scratch</h3>
				<div class="main-post-card__subtitle">
					<span>12 Feb 2020</span>
					<span>|</span>
					<span>Design,Patern</span>
				</div>
				<p class="main-post-card__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
			</li>
		</ul>
	</div>
</section>