<section class="single-work">
	<div class="single-work__container">
		<h1 class="single-work__title">Designing Dashboards with usability in mind</h1>
		<div class="single-work__post-details single-work-post-details">
				<span class="single-work-post-details__time">2020</span>
				<span class="single-work-post-details__category">Dashboard, User Experience Design</span>
		</div>
		<p class="single-work__post-description">
			Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
		</p>
		<img
				src="../img/single-post-placeholder.jpg"
				alt=""
		>
		<h2 class="single-work__heading-one">Heading 1</h2>
		<h3 class="single-work__heading-two">Heading 2</h3>
		<p class="single-work__subdescription">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
		<div class="single-work__images">
			<img
					src="../img/single-post-placeholder.jpg"
					alt=""
			>
			<img
					src="../img/single-post-placeholder.jpg"
					alt=""
			>
		</div>
	</div>
</section>