<section class="work-main">
	<div class="work-main__container">
		<h1 class="work-main__title">Work</h1>
		<ul class="work-main__list work-main-list">
			<li class="work-main-list__item work-main-card">
				<a href="">
					<div class="work-main-card__image">
					<img
							src="../img/logo-feature-work.jpg"
							alt=""
					>
				</div>
				<div class="work-main-card__content">
					<h2 class="work-main-card__title">Designing Dashboards</h2>
					<div class="work-main-card__subtitle work-card-subtitle">
						<span class="work-card-subtitle__time">2020</span>
						<span class="work-card-subtitle__category">Dashboard</span>
					</div>
					<p class="main-card-content__description">
						Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
					</p>
				</div>
				</a>
			</li>
			<li class="work-main-list__item work-main-card">
				<a href="">
					<div class="work-main-card__image">
					<img
							src="../img/logo-feature-work.jpg"
							alt=""
					>
				</div>
				<div class="work-main-card__content">
					<h2 class="work-main-card__title">Designing Dashboards</h2>
					<div class="work-main-card__subtitle work-card-subtitle">
						<span class="work-card-subtitle__time">2020</span>
						<span class="work-card-subtitle__category">Dashboard</span>
					</div>
					<p class="main-card-content__description">
						Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
					</p>
				</div>
				</a>
			</li>
			<li class="work-main-list__item work-main-card">
				<a href="">
					<div class="work-main-card__image">
					<img
							src="../img/logo-feature-work.jpg"
							alt=""
					>
				</div>
				<div class="work-main-card__content">
					<h2 class="work-main-card__title">Designing Dashboards</h2>
					<div class="work-main-card__subtitle work-card-subtitle">
						<span class="work-card-subtitle__time">2020</span>
						<span class="work-card-subtitle__category">Dashboard</span>
					</div>
					<p class="main-card-content__description">
						Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
					</p>
				</div>
				</a>
			</li>
		</ul>
	</div>
</section>